.socials
  ul.socials__list
    li.socials__item
      a.socials__link(href="https://vk.com/jenshen85")
        svg.socials__image
          use(xlink:href="../../img/sprite.svg#vk")
    li.socials__item
      a.socials__link(href="https://github.com/jenshen85")
        svg.socials__image
          use(xlink:href="../../img/sprite.svg#github")
    li.socials__item
      a.socials__link(href="#")
        svg.socials__image
          use(xlink:href="../../img/sprite.svg#in")