=roboto
	font-family: "roboto", serif

=bern-dist
	font-family: "bernierdistressed", serif

=bern-reg
	font-family: "bernierregular", serif

=bern-shad
	font-family: "berniershade", serif

body
	background-image: url('../../img/icons/fav_mount.png')