
@font-face
	font-family: 'Gotham'
	src: url('../../fonts/Gotham-Black.ttf') format('ttf')
	font-weight: 900
	font-style: normal

.container
	height: 100%

.title
	text-align: center
	font-family: 'Gotham'
	font-weight: 900
	background-image: url('../../img/5.jpg')

.block-wrapp
	height: 100%
	width: 100%

.img
	width: 100%
	height: 100%
	object-fit: cover