extends ./layout/_layout.pug

block title
  title Blog

block content
  .wrapper
    main.main-content
      section.section.hero-section
        .container.hero-container
          .hero__bg-word
            svg.bg-word__img.bg-word__img--portfolio
              use(xlink:href="../img/sprite.svg#blog_header")
          .hero-socials
            include ./common/socials.pug
          .menu-button__wrapp
            .menu-button
              .menu-button__elem
          .hero__avatar
            .avatar__img
              img.avatar__img-icon(src="../img/avatar.jpg", alt="")
            .section-title.blog-hero__title
              .title-text.title-decor Блог
            .avatar__title-bottom Статьи которые я написал
          .hero__button-down
            svg.button-down__img
              use(xlink:href="../img/sprite.svg#arrow_down")
        .hero__treangle-wrapp
          .trangle-left
            svg.button-down__img.button-down__img--blog
              use(xlink:href="../img/sprite.svg#my_about_bg_left")
          .trangle-reight
            svg.button-down__img.button-down__img--blog
              use(xlink:href="../img/sprite.svg#my_about_bg_right")
      section.section.blog-section
        .container
          .blog
            aside.blog__nav
              ul.blog__nav-list
                li.blog__nav-item.active Самое важное в SASS
                li.blog__nav-item Приёмы в вёрстке, без которых не обходится ни один сайт
                li.blog__nav-item Самый необходимый набор Gulp плагинов
                li.blog__nav-item Почему я выбрал Pug
            main.blog__main
              ul.blog__main-list
                li.blog__main-item
                  .sub-title.blog__main-item-title Самое важное в SASS
                  .blog__main-item-date
                    time(datetime="2016-10-22") 22 ноября 2016
                  .blog__main-item-cont 
                   | Таким образом начало повседневной работы по 
                   | формированию позиции позволяет выполнять важные задания по 
                   | разработке направлений прогрессивного развития. 
                   | Разнообразный и богатый опыт новая модель организационной 
                   | деятельности играет важную роль в формировании новых предложений.
                   | Товарищи! новая модель организационной деятельности играет 
                   | важную роль в формировании систем массового участия.
                   | Не следует, однако забывать, что укрепление и развитие 
                   | структуры обеспечивает широкому кругу (специалистов) 
                   | участие в формировании систем массового участия. 
                   | Идейные соображения высшего порядка, а также рамки 
                   | и место обучения кадров обеспечивает широкому кругу 
                   | (специалистов) участие в формировании позиций, 
                   | занимаемых участниками в отношении поставленных задач. 
                   | Товарищи! постоянный количественный рост и сфера нашей 
                   | активности способствует подготовки и реализации модели 
                   | развития. С другой стороны рамки и место обучения кадров 
                   | влечет за собой процесс внедрения и модернизации системы 
                   | обучения кадров, соответствует насущным потребностям.
                  pre
                    code
                      ul
                        for i in 10
                          li i
                li.blog__main-item
                  .sub-title.blog__main-item-title Приёмы в вёрстке, без которых не обходится ни один сайт
                  .blog__main-item-date
                    time(datetime="2016-10-22") 22 ноября 2016
                  .blog__main-item-cont 
                   |Таким образом начало повседневной работы по 
                   | формированию позиции позволяет выполнять важные задания по 
                   | разработке направлений прогрессивного развития. 
                   | Разнообразный и богатый опыт новая модель организационной 
                   | деятельности играет важную роль в формировании новых предложений.
                   | Товарищи! новая модель организационной деятельности играет 
                   | важную роль в формировании систем массового участия.
                   | Не следует, однако забывать, что укрепление и развитие 
                   | структуры обеспечивает широкому кругу (специалистов) 
                   | участие в формировании систем массового участия. 
                   | Идейные соображения высшего порядка, а также рамки 
                   | и место обучения кадров обеспечивает широкому кругу 
                   | (специалистов) участие в формировании позиций, 
                   | занимаемых участниками в отношении поставленных задач. 
                   | Товарищи! постоянный количественный рост и сфера нашей 
                   | активности способствует подготовки и реализации модели 
                   | развития. С другой стороны рамки и место обучения кадров 
                   | влечет за собой процесс внедрения и модернизации системы 
                   | обучения кадров, соответствует насущным потребностям.
                li.blog__main-item
                  .sub-title.blog__main-item-title Самый необходимый набор Gulp плагинов
                  .blog__main-item-date
                    time(datetime="2016-10-22") 22 ноября 2016
                  .blog__main-item-cont 
                   | Таким образом начало повседневной работы по 
                   | формированию позиции позволяет выполнять важные задания по 
                   | разработке направлений прогрессивного развития. 
                   | Разнообразный и богатый опыт новая модель организационной 
                   | деятельности играет важную роль в формировании новых предложений.
                   | Товарищи! новая модель организационной деятельности играет 
                   | важную роль в формировании систем массового участия.
                   | Не следует, однако забывать, что укрепление и развитие 
                   | структуры обеспечивает широкому кругу (специалистов) 
                   | участие в формировании систем массового участия. 
                   | Идейные соображения высшего порядка, а также рамки 
                   | и место обучения кадров обеспечивает широкому кругу 
                   | (специалистов) участие в формировании позиций, 
                   | занимаемых участниками в отношении поставленных задач. 
                   | Товарищи! постоянный количественный рост и сфера нашей 
                   | активности способствует подготовки и реализации модели 
                   | развития. С другой стороны рамки и место обучения кадров 
                   | влечет за собой процесс внедрения и модернизации системы 
                   | обучения кадров, соответствует насущным потребностям.
                li.blog__main-item
                  .sub-title.blog__main-item-title Почему я выбрал Pug
                  .blog__main-item-date 
                    time(datetime="2016-10-22") 22 ноября 2016
                  .blog__main-item-cont 
                   | Таким образом начало повседневной работы по 
                   | формированию позиции позволяет выполнять важные задания по 
                   | разработке направлений прогрессивного развития. 
                   | Разнообразный и богатый опыт новая модель организационной 
                   | деятельности играет важную роль в формировании новых предложений.
                   | Товарищи! новая модель организационной деятельности играет 
                   | важную роль в формировании систем массового участия.
                   | Не следует, однако забывать, что укрепление и развитие 
                   | структуры обеспечивает широкому кругу (специалистов) 
                   | участие в формировании систем массового участия. 
                   | Идейные соображения высшего порядка, а также рамки 
                   | и место обучения кадров обеспечивает широкому кругу 
                   | (специалистов) участие в формировании позиций, 
                   | занимаемых участниками в отношении поставленных задач. 
                   | Товарищи! постоянный количественный рост и сфера нашей 
                   | активности способствует подготовки и реализации модели 
                   | развития. С другой стороны рамки и место обучения кадров 
                   | влечет за собой процесс внедрения и модернизации системы 
                   | обучения кадров, соответствует насущным потребностям.
      include ./common/menu.pug 
    include common/footer.pug
  