doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="shortcut icon" href="../../img/fav_mount.png" type="image/x-icon")
    link(rel="icon" href="../../img/fav_mount.png" type="image/x-icon")
    //- link(rel="stylesheet" href=`./assets/css/main${css_name}.css`)
    <!-- inject:css -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
    //- script(defer src="./assets/js/vendor.chunk.js")
    block title
      title Default
  body
    .wrapper
      block content
    <!-- body:js -->
    <!-- endinject -->
    //- script(defer src="./assets/js/index.bundle.js")
    